<!-- Modal -->
<div class="modal fade" id="pembuat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<div class="modal-title" id="pembuat">
					<div class="row-fluid user-row">
						<img src="assets/img/aplikasi.jpg" class="img-circle img-responsive">
					</div>
				</div>
			</div>
			<div class="modal-body" align="center">
				<p>Aplikasi Pembayaran Untuk Kantin Sederhana</p>
				<p>Made With Bootstrap <i class="glyphicon glyphicon-heart"></i> Javascript</p>
				<p>Design by<a href="http://zulfin.web.id" target="_blank"> Zulfindra Juliant, S.Kom</a></p>
				<p>My Google App Mail <i class="glyphicon glyphicon-envelope"></i><a href="mailto:zulfinjuliant@gmail.com"> zulfinjuliant@gmail.com</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Tutup</button>
			</div>
		</div>
	</div>
</div>